<html>

  <head>
    <title>11 out of 10 Plumbing</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

        <header = id="page_header">
          <div class="container">
          <img src="plumber-van.png" alt="logo" class="logo">
          <nav>
            <ul>
              <li><a href="index.html">Dashboard</a></li>
              <li><a href="/schedule">Schedule</a></li>
              <li><a href="/invoice">Invoice</a></li>
              <li><a href="/customer">Customer</a></li>
              <li><a href='/employee'>Employee</a></li>
              <li><a href="/service">Service</a></li>
              <li><a href="/payment">Payment</a></li>
              <li><a href="/job">Job</a></li>
            </ul>
          </nav>
          </div>
        </header>



        <form class="submission-form" id="addperson" action="/schedule" method="post">
          <h3>Add new Work Order</h3>
            <label>Call reason:</label> <input type="text" name="call_reason" required><br>
            <label>Date:</label> <input type="date" name="date" required><br>
            <label>Arrival windows 1:</label> <input type="time" name="arrival_windows_1" required><br>
            <label>Arrival windows 2:</label> <input type="time" name="arrival_windows_2" required><br>
            <label>Customer ID:</label> <input type="number" name="customer_id" required><br>
            <label>Status:</label>
            <select name = "status">
               <option value = "Confirmed">Confirmed</option>
               <option value = "Call to Confirm">Call to Confirm</option>
             </select><br>
            <input type="submit" value="Submit" id="sendBtn">
         </form>
        <br/>

        <form class="submission-form" id='search_people' action='' method=''>
          <h3>Search Work Order</h3>
            <label> Search work order by customer ID:</label>
            <input id='work_order_search_customer_id' type='text' name='work_order_search_customer_id' value=''>
            <input type="button" value="Search" onclick="searchWorkOrderByCustomerId()" id="sendBtn">
        </form>

        <h3>Current Work Order:</h3>
        <table>
            <thead>
                <th>Work Order number</th>
                <th>Call Reason</th>
                <th>Date</th>
                <th>Arrival Windows 1</th>
                <th>Arrival Windows 2</th>
                <th>Status</th>
                <th>Customer ID</th>
            </thead>
            <tbody>
                {{#each schedule}}
                <tr>
                  <td>{{id}}</td>
                    <td>{{call_reason}}</td>
                    <td>{{date}}</td>
                    <td>{{arrival_windows_1}}</td>
                    <td>{{arrival_windows_2}}</td>
                    <td>{{status}}</td>
                    <td>{{customer_id}}</td>
                    <td><button onclick="deleteWorkOrder({{id}})">Delete</button></td>
                    <td><a href="/schedule/{{id}}">Update</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>


  </body>

</html>
