<html>
<head>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  form {
    text-align: center;
    max-width: 600px;
    margin: 2rem auto;
    border-radius: 15px;
    padding: 2rem;
    font-size: 15px;
    background: #D5D8DC;
    font-family: 'Jost', sans-serif;

  }
  label{
    width: 200px;
    text-align: center;
    display: inline-block;
    padding: 1rem 0 .5rem;
    font-family: 'Jost', sans-serif;
  }

  input, text, select {
    width: 250px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #808B96;
    border-radius: 5px;
  }


  button{
    border: 0;
    background: #0080FF;
    padding: 10px;
    color: white;
    margin-left: 50%;
    margin-right: 50%;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
  }

  h1 {
    text-align: center;
    font-family: 'Jost', sans-serif;
  }



  </style>
</head>
<body>
  <h1>Update invoice {{item.id}}:</h1>
  <form id="update-item" action="/invoice" method="post">

    Total Price: <input type="text" name="total_price" value="{{item.total_price}}"> <br>
    Due Date:<input type="date" name="due_date" value="{{item.due_date}}"><br>
    Work Order Number Assosiated: <input type="text" name="work_order_number"value="{{item.work_order_number}}"><br>
    Status:
    <select name = "status" value="{{item.status}}">
       <option value = "closed">Closed</option>
       <option value = "open">Open</option>
     </select><br>

  </form>
  <button onclick="updateInvoice({{item.id}})">Update</button>
</body>

</html>
