<html>
<head>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  form {
    text-align: center;
    max-width: 600px;
    margin: 2rem auto;
    border-radius: 15px;
    padding: 2rem;
    font-size: 15px;
    background: #D5D8DC;
    font-family: 'Jost', sans-serif;

  }
  label{
    width: 200px;
    text-align: center;
    display: inline-block;
    padding: 1rem 0 .5rem;
    font-family: 'Jost', sans-serif;
  }

  input, text, select {
    width: 250px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #808B96;
    border-radius: 5px;
  }


  button{
    border: 0;
    background: #0080FF;
    padding: 10px;
    color: white;
    margin-left: 50%;
    margin-right: 50%;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
  }

  h1 {
    text-align: center;
    font-family: 'Jost', sans-serif;
  }



  </style>
</head>
<body>
  <h1>Update service ID {{item.id}}:</h1>
  <form id="update-item" action="/service" method="post">
      Name: <input type="text" name="service_name" value="{{item.service_name}}"><br>
      Price: <input type="text" name="unit_price" value="{{item.unit_price}}"><br>
      Description: <input type="text" name="service_description" value="{{item.service_description}}"><br>
      Warranty:
      <select name = "warranty" value="{{item.warranty}}">
         <option value = "7 days">7 days</option>
         <option value = "14 days">14 days</option>
         <option value = "30 days">30 days</option>
         <option value = "60 days">60 days</option>
         <option value = "6 months">6 months</option>
         <option value = "1 year">1 year</option>
         <option value = "2 year">2 year</option>
         <option value = "No warranty">No warranty</option>
       </select><br>
  </form>
  <button onclick="updateService({{item.id}})">Update</button>
</body>

</html>
